output/*
output/**
!output/main.pdf

.vscode/
.directory

*_minted_main/
*.log
*.toc
*.acn
*.lol
*.ist
*.txt
*.acr
*.alg
*.aux
*.bbl
*.bcf
*.blg
*.glg
*.glo
*.gls
*.lof
*.lot
*.out
*.synctex.gz
*.run.xml
*.pygtex
*.pygstyle
*(busy)

*.kate-swp